{% load bootstrap %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <title>Notification Form</title>
        <style type="text/css">
            .multiple-checkbox ul { /* Used to hide <li> elements in multiple checkbox forms */
              padding-left: 0px;
              list-style: none;
            }
        </style>

    </head>
    <body>
        <div class="container">

            <!-- horizontal form -->
            <div class="row">
                <div class="span12">
                    <h1>Success</h1>
                    <hr />
                    {% if job_id_scheduled %}
                        <h4>Your notification is scheduled with job id <em>{{ job_id_scheduled }}</em> </h4>
                    {% elif job_id_modified %}
                        <h4>Your notification with job id <em>{{ job_id_modified }}</em> is {{ action }}</h4>
                    {% endif %}
                </div>
            </div>

        </div>

        <!-- scripts -->
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    </body>
</html>